name: Manual Publish

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to upload release artifacts to (e.g., v1.2.3)'
        required: true
        type: string

jobs:
  manual-publish:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.tag }}
        fetch-depth: 0 # Needed for goreleaser to inspect tags.

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Run Goreleaser
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      with:
        version: '~> v2'
        args: release --clean --skip=publish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Release Artifacts
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release upload ${{ inputs.tag }} ./dist/*.tar.gz ./dist/*.zip --clobber
